body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: var(--darkGold);
 
 background-image: url(./images/home.png);
 background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
}
:root{
  --black: #080301;
  --gold: #ca520c;
  --darkGold:#271002;
  --text: white;
  --opGold: rgba(150, 93, 27, 0.1);
}
/* header section  */
.navBar {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 30px;
  padding: 10px;
  text-decoration: none;
  color: var(--gold);
  font-size: 20px;
}
.link:hover {
  color: var(--text);
  text-decoration: underline;
}
.visible {
  display: block;
  visibility: visible;
}
.invisible {
  display: none;
  visibility: hidden;
}


/* home section  */
.homepage{
  background-image: url(./images/home.png);
  background-repeat: no-repeat;
}
.home {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.introContainer {
  height:  500px;
  width: 500px;
  margin-left: 100px;
  
}
.introContainer h1 {
  color: var(--text);
  font-size: 50px;
  padding: 20px;
}
.introContainer p {
  padding: 20px;
  font-size: 20px;

}
.homeBtn {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--gold);
  background-color: var(--black);
  text-align: center;
}
.homeBtn:hover {
  background-color: var(--gold);
  color: var(--text);
}
.homeContact{
  text-decoration: none;
  color: var(--gold);

}
.homeContact:hover {
  background-color: var(--gold);
  color: var(--text);
}

.menuBtn {
  padding: 20px;
  color: var(--gold);
}
.menuBtn:hover{
  color: var(--text);
}


/* footer section  */
footer{
  text-align: center;
  
}
footer a, p{
  text-decoration: none;
  color: var(--gold);

}
footer a:hover {
  color: var(--text);
}
.locationIcon{
  padding-right: 10px;
}